@font-face {
  font-family: inconsol;
  src: url(assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth\wght.ttf);
}

html,
body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  min-width: 280px;
  overflow-x: hidden;
  font-family: inconsol, "Courier New", Courier, monospace;
}

html,
body,
h1,
div,
img,
p {
  margin: 0;
  padding: o;
}

body {
  background-color: rgb(251, 253, 203);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

header {
  height: auto;
  padding-top: 50px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

section{
  display: grid;
  place-items: center;
  align-items: center;
}

a {
  color: black;
  text-decoration: dashed; /* no underline */
}

.title {
  font-size: clamp(1rem, 7vw, 4rem);
}

.subTitle {
  font-size: clamp(1rem, 4vw, 2rem);
  text-align: left;
}

.sectionTitle {
  font-size: clamp(1rem, 4vw, 2rem);
  text-align: left;
  width: 80%;
  max-width: 700px;
  margin-top: 200px;
}

.introductionText {
  width: 80%;
  max-width: 700px;
  margin-bottom: 100px;
}

.box {
  background-color: rgb(249, 249, 219);
  width: 80%;
  max-width: 700px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box:hover {
  transform: scale(1.03);
  transition: 1s;
}

.box:not(:hover) {
  transform: scale(1);
  transition: 1s;
}

.v-align {
  vertical-align: bottom;
}

.profileImage {
  display: block;
  width: 40vw;
  height: 40vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profesionalText {
  display: inline-block;
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

#fullStackImg {
  display: inline-block;
  width: 40vw;
  height: auto;
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
  vertical-align: text-bottom;
  margin-bottom: 40px;
}

@media (max-width: 769px) {
  #fullStackImg {
    margin-bottom: 70px;
    transition: 1s;
  }
}

@media (max-width: 749px) {
  .v-align {
    vertical-align: none;
  }

  #fullStackImg {
    display: block;
    height: 40vw;
    max-width: 170px;
    max-height: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .profesionalText {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.technologies {
  position: relative;
  padding: 20px;
  text-align: left;
  align-items: center;
}

.tech {
  position: relative;
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 22%;
}

@media (max-width: 753px) {
  .tech {
    width: 35%;
    padding-left: 7%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: 2s;
  }
}

@media (max-width: 506px) {
  .tech {
    width: fit-content;
    display: block;
    font-size: large;
    transition: 2s;
  }
}

.projectLink {
  position: absolute;
  width: 100%;
  height: 100%;
}

.projecTitle {
  position: relative;
  color: #000000;
  font-size: 3rem;
  margin-left: 50px;
}

@media (max-width: 420px) {
  .projecTitle {
    margin-left: 30px;
    transition: 1s;
  }
}

@media (max-width: 350px) {
  .projecTitle {
    margin-left: 10px;
    transition: 1s;
  }
}

.wsProject {
  position: relative;
  height: 50px;
}

.wsProject::before {
  content: "";
  background-image: url("/assets/images/wsBackgrownd.png");
  background-size: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
}

.wsProject:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.wsProject:hover:before {
  background-size: 25px;
  opacity: 0.5;
  transition: 3s;
  transition-timing-function: ease-out;
}

.wsProject:not(:hover) {
  transform: scale(1);
  transition: 0.1s;
}
live .wsProject:not(:hover):before {
  background-size: 50px;
  opacity: 0.15;
  transition: 2s;
  transition-timing-function: ease-in;
}

footer {
  position: relative;
  text-align: center;
  margin-top: 50px;
  height: 50px;
  padding-bottom: 20px;
}

.footerElement {
  position: absolute;
  width: 100px;
  height: 20px;
  padding: 10px;
  border: 1px solid #000;
}

.footerElement:hover {
  border: 2px solid #000;
  font-weight: bolder;
}

.linkedin {
  bottom: 20px;
  right: 50px;
}

.gmail {
  bottom: 20px;
  right: 200px;
}
.icon {
  width: 20px;
  margin-left: 5px;
  vertical-align: bottom;
}

@media (max-width: 1000px) {
  .gmail {
    display: none;
  }
}

@media (max-width: 350px) {
  .linkedin {
    display: none;
  }

  .gmail {
    display: none;
  }
}

@media (max-width: 500px) {
  .linkedin {
    right: 20px;
    transition: 1s;
  }

  .gmail {
    right: 160px;
    transition: 1s;
  }
}

/*###### SCROLL BAR ######*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(117, 117, 100, 0.782);
  border-radius: 800%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(117, 117, 100);
}

@media (max-width: 500px) {
  ::-webkit-scrollbar-thumb {
    width: 5px;
  }
}

.rainElement {
  position: absolute;
  width: 20px;
  left: -20px;
}

@keyframes rainAnimation {
  0% {
    opacity: 0.5;
    left: -20px;
  }
  100% {
    opacity: 0;
    left: 1000px;
  }
}


@media (max-width: 2000px) {
  @keyframes rainAnimation {
    0% {
      opacity: 0.5;
      left: -20px;
    }
    100% {
      opacity: 0;
      left: 300px;
    }
  }
}

@media (max-width: 1800px) {
  @keyframes rainAnimation {
    0% {
      opacity: 0.5;
      left: -20px;
    }
    100% {
      opacity: 0;
      left: 130px;
    }
  }
}

@media (max-width: 1400px) {
  @keyframes rainAnimation {
    0% {
      opacity: 0.5;
      left: -20px;
    }
    100% {
      opacity: 0;
      left: 100px;
    }
  }
}

@media (max-width: 1000px) {
  .rainElement {
    display: none;
  }

  @keyframes rainAnimation {
    0% {
      opacity: 0;
      left: 0px;
    }
    100% {
      opacity: 0;
      left: 0px;
    }
  }
}

nav{
  text-align: right;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
  margin-right: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
